<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">校园招聘<i class="fa fa-hand-peace-o" aria-hidden="true"></i></a>
    </div>
    <div class="form-group form-inline search-bar">
      <%= form_tag search_jobs_path , :method => :get, :class => "jobs-search-form" do %>
        <div class="input-group">
          <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索关键字...">

          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          分类
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li> <%= link_to("套瓷", jobs_path(:order => "套瓷")) %> </li>
          <li> <%= link_to("兼职", jobs_path(:order => "兼职")) %> </li>
          <li> <%= link_to("实习", jobs_path(:order => "实习")) %> </li>
        </ul>
      </li>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
        <li><%= link_to("注册", new_user_registration_path) %> </li>
        <li><%= link_to("登陆", new_user_session_path) %></li>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!, <%= current_user.email %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.admin? %>
            <li> <%= link_to("Admin panel", admin_jobs_path) %> </li>
            <% end %>
            <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
    <!-- /.narbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
